<p>user works!</p>
<div class="container">
    <!-- <div class="center-align">{{user.Name}}</div>
    <div class="offset sm-4">{{user.email}}</div> -->
    <br>
    <div class="center-align">Portfolios</div>
    <!-- <div *ngIf="user.Portfolio">
        <ul class="portfolios">
            <li *ngFor="let port of portfolios">
        
                <a routerLink="/user/{{user.id}}/portfolio/{{port.id}}">
                    <span>{{port.id}}</span> {{port.name}}
                </a>
               
            </li>
        </ul> -->
    <!-- </div> -->

</div>
