<p>user works!</p>
<div class="container">
    <div class="center-align">{{user.name}}</div>
    <div class="offset sm-4">{{user.email}}</div>
    <br>
    <div class="center-align">Portfolios</div>
    <div *ngIf="user.portfolios">
        <ul class="portfolios">
            <li> check</li>
            <!-- <li *ngFor="let portfolio of user.portfolios">
        
                <a routerLink="/user/{{user.id}}/portfolio/{{user.portfolios.id}}">
                    <span>{{portfolio.id}}</span> 
                </a>
               
            </li> -->
        </ul> 
     </div>

</div>
