<p>user works!</p>
<div class="container">
    <div class="center-align">{{user.name}}</div>
    <div class="offset sm-4">{{user.email}}</div>
    <br>
    <div class="center-align">Portfolios</div>
    <div *ngIf="portfolios">
        <ul class="portfolios">
            <li *ngFor="let portfolio of portfolios">
        
                <a routerLink="/portfolio/{{portfolio.id}}">
                    <span>{{portfolio.id}}</span> {{portfolio.name}}
                </a>
               
            </li>
        </ul> 
     </div>

</div>
